.title-container {
   background-color: rgb(64, 62, 62);
   padding: 8px 12px;
   flex-direction: row;
   display: flex;
   align-items: center;
}

.title-container > a > img  {
   width: 25px;
}

.title-container > a {
   margin-right: 25px;
}

h1.title {
   font-family: "Roboto", sans-serif;  
   color: rgb(244, 242, 242); 
   font-weight: 600;
   font-size: 18px;
   display: inline;
}

.prompttest {
   margin-right: auto;
}

.change_adoc {
   margin-left: auto;
}

.file-title-container {
   background-color: #f7f6f6;
   padding: 9px 12px;
}

h1.file-title {
   font-family: "Roboto", sans-serif;  
   color: black; 
   font-weight: 600;
   font-size: 18px;
}




.footer {
   margin: 5px auto;
}

.button-container button {
   margin-top: 8px;
   margin-right: 10px;
	box-shadow:inset 0px 0px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:7px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.button-container button:hover{
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}

.button-container button:active {
	position:relative;
	top:1px;
}

.button-container button a {
   color:#ffffff;
}

.footer {
   padding-top: 4px;
}

.footer p,a {
   font-family: "Roboto", sans-serif;
   font-weight: 600;
   font-size: 15px;
   padding-top: 8px;
   padding-left: 10px;
}


/* .left {
   width: 50%;
   height: 100%;
}

.right {
   width: 50%;
   height: 100%;
} */

.editor-container {
   height: 850px;
   margin: auto;
   position: relative;
   display: flex;
   flex-direction: row;
}


#editor {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   height: 100%;
   font-size: 15px;
}

#output {
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   height: 100%;
   font-size: 20px;
   width: 100%;
   /* pointer-events: none; https://stackoverflow.com/questions/5261328/receive-mousemove-events-from-iframe-too */
}

.left, .right {
   height: 100%;
   width: 50%;
}

#dragLine {
   width: 7px;
   height: 100%;
   background-color: #ccc;
   cursor: ew-resize;
}